.nodes {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.nodes .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1536px;
  height: 4334px;
  position: relative;
}

.nodes .overlap {
  position: absolute;
  width: 1536px;
  height: 755px;
  top: 0;
  left: 0;
  background-image: url(./img/image-12.png);
  background-size: cover;
  background-position: 50% 50%;
}

.nodes .navbar {
  position: absolute;
  width: 1160px;
  height: 58px;
  top: 0;
  left: 210px;
}

.nodes .text-wrapper {
  width: 130px;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  font-size: 40px;
  line-height: 78px;
  white-space: nowrap;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
}

.nodes .text-wrapper-2 {
  width: 49px;
  top: 36px;
  left: 759px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
}

.nodes .text-wrapper-3 {
  position: absolute;
  width: 120px;
  top: 36px;
  left: 1030px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.nodes .text-wrapper-4 {
  width: 49px;
  top: 36px;
  left: 847px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
}

.nodes .text-wrapper-5 {
  width: 80px;
  top: 36px;
  left: 929px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
}

.nodes .HUBS {
  position: absolute;
  width: 215px;
  top: 280px;
  left: 660px;
  font-family: "Preahvihear", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.nodes .footer {
  position: absolute;
  width: 1542px;
  height: 164px;
  top: 4170px;
  left: 0;
  background-color: transparent;
}

.nodes .overlap-group {
  position: relative;
  width: 1536px;
  height: 164px;
  background-color: #612d00;
}

.nodes .text-wrapper-6 {
  position: absolute;
  width: 130px;
  top: 46px;
  left: 126px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 78px;
  white-space: nowrap;
}

.nodes .image {
  width: 47px;
  height: 50px;
  top: 61px;
  left: 1068px;
  position: absolute;
  object-fit: cover;
}

.nodes .img {
  width: 56px;
  height: 50px;
  top: 61px;
  left: 1138px;
  position: absolute;
  object-fit: cover;
}

.nodes .mailnbg {
  position: absolute;
  width: 63px;
  height: 39px;
  top: 67px;
  left: 1215px;
  object-fit: cover;
}

.nodes .image-2 {
  width: 50px;
  height: 41px;
  top: 67px;
  left: 1300px;
  position: absolute;
  object-fit: cover;
}

.nodes .text-wrapper-7 {
  position: absolute;
  width: 127px;
  top: 78px;
  left: 355px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.nodes .div-wrapper {
  position: absolute;
  width: 495px;
  height: 40px;
  top: 71px;
  left: 503px;
  background-color: #ffffff;
  border-radius: 14px;
}

.nodes .text-wrapper-8 {
  position: absolute;
  width: 49px;
  top: 7px;
  left: 27px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #d5d5d5;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.nodes .overlap-2 {
  position: absolute;
  width: 1534px;
  height: 3184px;
  top: 853px;
  left: 0;
}

.nodes .hubs {
  position: absolute;
  width: 1534px;
  height: 2916px;
  top: 0;
  left: 0;
}

.nodes .image-3 {
  width: 541px;
  height: 400px;
  top: 2784px;
  left: 522px;
  position: absolute;
  object-fit: cover;
}

.nodes .text-wrapper-9 {
  position: absolute;
  width: 167px;
  top: 2826px;
  left: 547px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}
