.homepage {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.homepage .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1536px;
  height: 3254px;
  position: relative;
}

.homepage .overlap {
  position: absolute;
  width: 1536px;
  height: 768px;
  top: 2322px;
  left: 0;
  background-color: #c38a5126;
}

.homepage .text-wrapper {
  position: absolute;
  width: 826px;
  top: 67px;
  left: 355px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #562803;
  font-size: 70px;
  letter-spacing: 0;
  line-height: 78px;
  white-space: nowrap;
}

.homepage .image {
  width: 32px;
  height: 30px;
  top: 220px;
  left: 147px;
  position: absolute;
  object-fit: cover;
}

.homepage .img {
  width: 34px;
  height: 30px;
  top: 370px;
  left: 145px;
  position: absolute;
  object-fit: cover;
}

.homepage .image-2 {
  width: 34px;
  height: 30px;
  top: 531px;
  left: 146px;
  position: absolute;
  object-fit: cover;
}

.homepage .green-transit {
  position: absolute;
  width: 1215px;
  top: 194px;
  left: 235px;
  font-family: "Preahvihear", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 78px;
}

.homepage .overlap-group {
  position: absolute;
  width: 1256px;
  height: 635px;
  top: 1595px;
  left: 141px;
}

.homepage .text-wrapper-2 {
  position: absolute;
  width: 375px;
  top: 0;
  left: 439px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #562803;
  font-size: 70px;
  letter-spacing: 0;
  line-height: 78px;
  white-space: nowrap;
}

.homepage .image-3 {
  width: 1065px;
  height: 601px;
  top: 34px;
  left: 131px;
  position: absolute;
  object-fit: cover;
}

.homepage .our-transit-nodes {
  position: absolute;
  width: 1256px;
  top: 119px;
  left: 0;
  font-family: "Preahvihear", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 50px;
}

.homepage .hero {
  position: absolute;
  width: 1540px;
  height: 768px;
  top: 0;
  left: 0;
}

.homepage .overlap-2 {
  position: relative;
  width: 1536px;
  height: 776px;
  background-image: url(./img/image-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.homepage .text-wrapper-3 {
  position: absolute;
  width: 789px;
  top: 282px;
  left: 415px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #562803;
  font-size: 80px;
  letter-spacing: 0;
  line-height: 78px;
  white-space: nowrap;
}

.homepage .p {
  position: absolute;
  width: 562px;
  top: 378px;
  left: 508px;
  font-family: "Preahvihear", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 30px;
}

.homepage .group {
  position: absolute;
  width: 149px;
  height: 78px;
  top: 472px;
  left: 714px;
}

.homepage .overlap-group-2 {
  position: relative;
  width: 147px;
  height: 78px;
}

.homepage .rectangle {
  position: absolute;
  width: 147px;
  height: 43px;
  top: 18px;
  left: 0;
  background-color: #6e3701;
  border-radius: 20px 0px 20px 0px;
}

.homepage .text-wrapper-4 {
  position: absolute;
  width: 92px;
  top: 0;
  left: 29px;
  font-family: "Open Sans", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 78px;
}

.homepage .navbar {
  position: absolute;
  width: 1157px;
  height: 58px;
  top: 0;
  left: 221px;
}

.homepage .text-wrapper-5 {
  width: 130px;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  font-size: 40px;
  line-height: 78px;
  white-space: nowrap;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
}

.homepage .text-wrapper-6 {
  width: 49px;
  top: 36px;
  left: 759px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
}

.homepage .text-wrapper-7 {
  position: absolute;
  width: 114px;
  top: 36px;
  left: 1033px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.homepage .text-wrapper-8 {
  width: 49px;
  top: 36px;
  left: 847px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
}

.homepage .text-wrapper-9 {
  width: 80px;
  top: 36px;
  left: 929px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
}

.homepage .overlap-3 {
  position: absolute;
  width: 1538px;
  height: 768px;
  top: 768px;
  left: 0;
}

.homepage .about-us {
  position: absolute;
  width: 1538px;
  height: 768px;
  top: 0;
  left: 0;
}

.homepage .overlap-4 {
  position: relative;
  width: 1536px;
  height: 768px;
  background-color: #c38a5126;
}

.homepage .text-wrapper-10 {
  position: absolute;
  width: 409px;
  top: 67px;
  left: 330px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #562803;
  font-size: 70px;
  letter-spacing: 0;
  line-height: 78px;
  white-space: nowrap;
}

.homepage .overlap-group-3 {
  position: absolute;
  width: 517px;
  height: 541px;
  top: 120px;
  left: 992px;
}

.homepage .rectangle-2 {
  position: absolute;
  width: 486px;
  height: 504px;
  top: 37px;
  left: 31px;
  border-radius: 140px 0px 140px 0px;
  border: 2px solid;
  border-color: #b0855b;
}

.homepage .image-4 {
  width: 487px;
  height: 507px;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.homepage .line {
  position: absolute;
  width: 281px;
  height: 3px;
  top: 144px;
  left: 355px;
}

.homepage .how-do-i-find-the {
  position: absolute;
  width: 790px;
  top: 196px;
  left: 106px;
  font-family: "Preahvihear", Helvetica;
  font-weight: 400;
  color: #562803;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: 37px;
}

.homepage .footer {
  position: absolute;
  width: 1542px;
  height: 164px;
  top: 3090px;
  left: 0;
  background-color: transparent;
}

.homepage .overlap-5 {
  position: relative;
  width: 1536px;
  height: 164px;
  background-color: #612d00;
}

.homepage .text-wrapper-11 {
  position: absolute;
  width: 130px;
  top: 46px;
  left: 126px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 78px;
  white-space: nowrap;
}

.homepage .image-5 {
  width: 47px;
  height: 50px;
  top: 61px;
  left: 1068px;
  position: absolute;
  object-fit: cover;
}

.homepage .image-6 {
  width: 56px;
  height: 50px;
  top: 61px;
  left: 1138px;
  position: absolute;
  object-fit: cover;
}

.homepage .mailnbg {
  position: absolute;
  width: 63px;
  height: 39px;
  top: 67px;
  left: 1215px;
  object-fit: cover;
}

.homepage .image-7 {
  width: 50px;
  height: 41px;
  top: 67px;
  left: 1300px;
  position: absolute;
  object-fit: cover;
}

.homepage .text-wrapper-12 {
  position: absolute;
  width: 124px;
  top: 78px;
  left: 355px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .div-wrapper {
  position: absolute;
  width: 495px;
  height: 40px;
  top: 71px;
  left: 503px;
  background-color: #ffffff;
  border-radius: 14px;
}

.homepage .text-wrapper-13 {
  position: absolute;
  width: 49px;
  top: 7px;
  left: 27px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #d5d5d5;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .image-8 {
  width: 30px;
  height: 30px;
  top: 1722px;
  left: 76px;
  position: absolute;
  object-fit: cover;
}

.homepage .image-9 {
  width: 30px;
  height: 30px;
  top: 1820px;
  left: 76px;
  position: absolute;
  object-fit: cover;
}

.homepage .image-10 {
  width: 30px;
  height: 30px;
  top: 1970px;
  left: 76px;
  position: absolute;
  object-fit: cover;
}

.homepage .image-11 {
  width: 30px;
  height: 30px;
  top: 2120px;
  left: 76px;
  position: absolute;
  object-fit: cover;
}
